// EnterName.module.scss
.pageCenter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 20px;
	font-size: 24px;
	gap: 20px;
	box-sizing: border-box;
	background: linear-gradient(135deg, #14bc5a 0%, #9ee55a 100%);
}

.smile {
	position: relative;
	width: 480px;
	height: 345px;
	margin: 0 auto 30px;
	overflow: hidden;
}

.eye {
	width: 400px;
	height: 100px;
	// Левый глаз
	&::before {
		content: '';
		position: absolute;
		width: 155px;
		height: 155px;
		background-color: white;
		border-radius: 50%;
		top: 50px;
		left: 55px;
	}

	// Правый глаз
	&::after {
		content: '';
		position: absolute;
		width: 155px;
		height: 155px;
		background-color: white;
		border-radius: 50%;
		top: 15px;
		right: 140px;
	}
}

.eyeLeftPupil {
	position: absolute;
	width: 69px;
	height: 69px;
	background-color: black;
	border-radius: 50%;
	top: 95px;
	left: 100px;
	animation: movePupil 3s ease-in-out infinite;
	z-index: 2;
}

.eyeRightPupil {
	position: absolute;
	width: 69px;
	height: 69px;
	background-color: black;
	border-radius: 50%;
	top: 60px;
	right: 180px;
	animation: movePupil 3s ease-in-out infinite;
	z-index: 2;
}

@keyframes movePupil {
	0%,
	10%,
	100% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(25px, 25px);
	}
	30% {
		transform: translate(25px, 25px);
	}
	50% {
		transform: translate(25px, -25px);
	}
	60% {
		transform: translate(25px, -25px);
	}
	75% {
		transform: translate(-10px, 30px);
	}
	90% {
		transform: translate(-10px, 30px);
	}
}

.inputContainer {
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;

	input {
		padding: 16px 16px;
		font-size: 24px;
		border: 1px solid #0000001e;
		font-weight: 500;
		border-radius: 12px;
		outline: none;
		width: 100%;
		width: 273px;
		height: 62px;
		transition: all 0.3s ease;
		text-align: center;

		&:focus {
			font-size: 24px;
			opacity: 100%;
		}

		&::placeholder {
			font-size: 24px;
			opacity: 45%;
			color: #3c3c3c;
			font-style: italic;
		}
	}
}

// Для мобильных устройств

// Для мобильных устройств
@media (max-width: 480px) {
	.pageCenter {
		width: 100%;
		height: 100vh;
		padding: 50px 0px;
		justify-content: right;
		align-items: flex-end;
		background: linear-gradient(135deg, #cdec63 60%, #ffff6d 100%);
	}

	.smile {
		max-width: 375px;
		height: 345px;
		margin: 0px;
		justify-content: right;
	}

	.eye {
		max-width: 375px;
		height: 100px;
		&::before {
			width: 155px;
			height: 155px;
			top: 50px;
			left: 110px;
		}

		&::after {
			width: 155px;
			height: 155px;
			top: 15px;
			right: -15px;
		}
	}

	.eyeLeftPupil {
		width: 69px;
		height: 69px;
		top: 92px;
		left: 150px;
	}

	.eyeRightPupil {
		width: 69px;
		height: 69px;
		top: 57px;
		right: 25px;
	}

	.mouth {
		width: 100%;
		height: 250px;
		overflow: hidden;
		padding-left: 50px;
	}

	.inputContainer input {
		max-width: 273px;
		padding: 10px 16px;
		font-size: 14px;
	}
}
